@import url(http://netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css);
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative; }

html,
body {
  height: 100%; }

.pie-circle {
  font-size: 1em;
  width: 52em;
  /* modified */
  height: 52em;
  /* modified */
  overflow: hidden;
  position: fixed;
  z-index: 10;
  left: 50%;
  border-radius: 50%;
  margin-left: -26em;
  /* modified */
  -webkit-transform: scale(0.1);
  -ms-transform: scale(0.1);
  -moz-transform: scale(0.1);
  transform: scale(0.1);
  pointer-events: none;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
  border-radius: 50%;
  pointer-events: auto;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }
  .pie-circle li {
    position: absolute;
    font-size: 1.5em;
    width: 20em;
    /* modified */
    height: 20em;
    /* modified */
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    overflow: hidden;
    left: 50%;
    top: 50%;
    margin-top: -1.3em;
    margin-left: -20em;
    /* modified */
    -webkit-transition: border .3s ease;
    -moz-transition: border .3s ease;
    transition: border .3s ease; }
    .pie-circle li a {
      display: block;
      font-size: 1.18em;
      height: 29em;
      /* modified */
      width: 29em;
      /* modified */
      position: absolute;
      bottom: -14.5em;
      /* modified */
      right: -14.5em;
      /* modified */
      border-radius: 50%;
      text-decoration: none;
      color: #fff;
      padding-top: 1.8em;
      text-align: center;
      -webkit-transform: skew(-50deg) rotate(-70deg) scale(1);
      -ms-transform: skew(-50deg) rotate(-70deg) scale(1);
      -moz-transform: skew(-50deg) rotate(-70deg) scale(1);
      transform: skew(-50deg) rotate(-70deg) scale(1);
      -webkit-backface-visibility: hidden;
      -webkit-transition: opacity 0.3s, color 0.3s;
      -moz-transition: opacity 0.3s, color 0.3s;
      transition: opacity 0.3s, color 0.3s; }
      .pie-circle li a span {
        font-size: 1.1em;
        opacity: 0.7; }

/* for a central angle x, the list items must be skewed by 90-x degrees
in our case x=40deg so skew angle is 50deg
items should be rotated by x, minus (sum of angles - 180)2s (for this demo) */
.pie-circle li:first-child {
  -webkit-transform: rotate(-10deg) skew(50deg);
  -ms-transform: rotate(-10deg) skew(50deg);
  -moz-transform: rotate(-10deg) skew(50deg);
  transform: rotate(-10deg) skew(50deg); }

.pie-circle li:nth-child(2) {
  -webkit-transform: rotate(30deg) skew(50deg);
  -ms-transform: rotate(30deg) skew(50deg);
  -moz-transform: rotate(30deg) skew(50deg);
  transform: rotate(30deg) skew(50deg); }

.pie-circle li:nth-child(3) {
  -webkit-transform: rotate(70deg) skew(50deg);
  -ms-transform: rotate(70deg) skew(50deg);
  -moz-transform: rotate(70deg) skew(50deg);
  transform: rotate(70deg) skew(50deg); }

.pie-circle li:nth-child(4) {
  -webkit-transform: rotate(110deg) skew(50deg);
  -ms-transform: rotate(110deg) skew(50deg);
  -moz-transform: rotate(110deg) skew(50deg);
  transform: rotate(110deg) skew(50deg); }

.pie-circle li:nth-child(5) {
  -webkit-transform: rotate(150deg) skew(50deg);
  -ms-transform: rotate(150deg) skew(50deg);
  -moz-transform: rotate(150deg) skew(50deg);
  transform: rotate(150deg) skew(50deg); }

.pie-circle li:nth-child(6) {
  -webkit-transform: rotate(190deg) skew(50deg);
  -ms-transform: rotate(190deg) skew(50deg);
  -moz-transform: rotate(190deg) skew(50deg);
  transform: rotate(190deg) skew(50deg); }

.pie-circle li:nth-child(7) {
  -webkit-transform: rotate(230deg) skew(50deg);
  -ms-transform: rotate(230deg) skew(50deg);
  -moz-transform: rotate(230deg) skew(50deg);
  transform: rotate(230deg) skew(50deg); }

.pie-circle li:nth-child(8) {
  -webkit-transform: rotate(270deg) skew(50deg);
  -ms-transform: rotate(270deg) skew(50deg);
  -moz-transform: rotate(270deg) skew(50deg);
  transform: rotate(270deg) skew(50deg); }

.pie-circle li:nth-child(9) {
  -webkit-transform: rotate(310deg) skew(50deg);
  -ms-transform: rotate(310deg) skew(50deg);
  -moz-transform: rotate(310deg) skew(50deg);
  transform: rotate(310deg) skew(50deg); }

.pie-circle li a {
  background-color: #00aeef; }

.pie-circle li:nth-child(3n+3) a {
  background-color: #00a7e5; }

.pie-circle li:nth-child(3n+2) a {
  background-color: #00a3e0; }

/* active style */
.pie-circle li.active a {
  background-color: #23c3ff; }

/* hover style */
.pie-circle li:not(.active) a:hover,
.pie-circle li:not(.active) a:active,
.pie-circle li:not(.active) a:focus {
  background-color: #23c3ff; }

.pie-circle li:not(.active) a:focus {
  position: fixed; }

@media screen and (max-width: 480px) {
  .pie-circle {
    font-size: .68em; }

  .cn-button {
    font-size: 1em; }

  .pie-circle li {
    font-size: 1.52em; } }
