/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
@import url(http://netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);
html,
button,
input,
select,
textarea {
  color: #222; }

html {
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

a {
  outline: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

audio,
canvas,
img,
video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Media Queries
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
/* CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* No Icon Set */
/**
 * Mixin to put items on a circle
 * [1] - Allows children to be absolutely positioned
 * [2] - Allows the mixin to be used on a list
 * [3] - In case box-sizing: border-box has been enabled
 * [4] - Allows any type of direct children to be targeted
 */
/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body.overflow-hidden {
  /* used when modal is visible */
  overflow: hidden; }

/* -------------------------------- 

Main Components 

-------------------------------- */
.cd-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s 0.3s, opacity 0.3s 0s;
  -moz-transition: visibility 0s 0.3s, opacity 0.3s 0s;
  transition: visibility 0s 0.3s, opacity 0.3s 0s; }
  .cd-modal::after {
    /* gradient overlay at bottom of modal window */
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    pointer-events: none;
    background: transparent;
    background: -webkit-linear-gradient( bottom , #34383c, rgba(52, 56, 60, 0));
    background: linear-gradient(to top, #34383c, rgba(52, 56, 60, 0)); }
  .cd-modal .cd-modal-content {
    height: 100%;
    width: 100%;
    padding: 3em 5%;
    text-align: left;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cd-modal p {
    color: #ffffff;
    line-height: 1.6;
    margin: 2em 0; }
  .modal-is-visible .cd-modal {
    visibility: visible;
    opacity: 1;
    -webkit-transition: visibility 0s 0s, opacity 0.3s 0s;
    -moz-transition: visibility 0s 0s, opacity 0.3s 0s;
    transition: visibility 0s 0s, opacity 0.3s 0s; }
  @media only screen and (min-width: 768px) {
    .cd-modal .cd-modal-content {
      padding: 4em 10%; } }
  @media only screen and (min-width: 1170px) {
    .cd-modal .cd-modal-content {
      padding: 6em 20%; }
    .cd-modal p {
      font-size: 2rem;
      line-height: 2; } }

.cd-modal-action .btn {
  -webkit-transition: color 0.2s 0.3s, width 0.3s 0s;
  -moz-transition: color 0.2s 0.3s, width 0.3s 0s;
  transition: color 0.2s 0.3s, width 0.3s 0s; }
  .cd-modal-action .btn.to-circle {
    width: 4em;
    color: transparent;
    -webkit-transition: color 0.2s 0s, width 0.3s 0.2s;
    -moz-transition: color 0.2s 0s, width 0.3s 0.2s;
    transition: color 0.2s 0s, width 0.3s 0.2s; }
.cd-modal-action .cd-modal-bg {
  position: absolute;
  left: 50%;
  top: 0;
  width: 4em;
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transform: translateX(-2em);
  -moz-transform: translateX(-2em);
  -ms-transform: translateX(-2em);
  -o-transform: translateX(-2em);
  transform: translateX(-2em);
  -webkit-transition: visibility 0s 0.5s;
  -moz-transition: visibility 0s 0.5s;
  transition: visibility 0s 0.5s; }
  .cd-modal-action .cd-modal-bg.is-visible {
    opacity: 1;
    visibility: visible; }

.cd-modal-close {
  position: fixed;
  z-index: 1;
  top: 20px;
  right: 5%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3) url(../img/cd-icon-close.svg) no-repeat center center;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
  -moz-transition: -moz-transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
  transition: transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s; }
  .no-touch .cd-modal-close:hover {
    background-color: rgba(0, 0, 0, 0.5); }
  .modal-is-visible .cd-modal-close {
    visibility: visible;
    opacity: 1;
    -webkit-transition: -webkit-transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
    -moz-transition: -moz-transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
    transition: transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  @media only screen and (min-width: 768px) {
    .cd-modal-close {
      top: 70px; } }

body {
  position: relative; }

.video-ctr {
  position: fixed;
  top: 0;
  bottom: 100%;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: 10;
  cursor: pointer;
  opacity: 0;
  margin: auto;
  overflow: hidden;
  transition: all .5s; }
  .video-ctr.open {
    opacity: 1;
    bottom: 0; }

.open-modal {
  overflow: hidden; }

.video-placeholder {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center; }
  .video-placeholder span {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em; }
  .video-placeholder img {
    max-width: 100%;
    max-height: 100vh; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: black;
  position: relative; }

body, button, label {
  font-family: 'Roboto Condensed', "Helvetica Neue", "Arial Black", sans-serif;
  color: #eee; }

a {
  text-decoration: none;
  outline: none;
  color: #00aeef; }
  a:hover {
    color: #0089bc; }

.cd-modal-close {
  z-index: 4; }

.cd-modal {
  z-index: 3; }

.cd-modal-action {
  z-index: 2; }

.intro h1 {
  font-size: 3em;
  text-align: center;
  margin: 1em 0; }

.container {
  position: relative;
  width: 1000px;
  height: 1000px;
  margin: 0 auto; }
  .container .background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1; }
    .container .background span {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: 50%; }
  .container .cr-one {
    background: #001219; }
  .container .cr-two {
    background: #001923;
    margin: 25px; }
  .container .cr-three {
    background: #00212d;
    margin: 80px; }

.circle-container {
  position: relative;
  /* [1] */
  width: 800px;
  height: 800px;
  padding: 0;
  border-radius: 50%;
  list-style: none;
  /* [2] */
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  /* [3] */
  background: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -400px;
  margin-top: -400px; }
  .circle-container > * {
    /* [4] */
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    margin: -50px; }
    .circle-container > *:nth-of-type(1) {
      -webkit-transform: rotate(30deg) translate(400px) rotate(-30deg);
      -moz-transform: rotate(30deg) translate(400px) rotate(-30deg);
      -ms-transform: rotate(30deg) translate(400px) rotate(-30deg);
      -o-transform: rotate(30deg) translate(400px) rotate(-30deg);
      transform: rotate(30deg) translate(400px) rotate(-30deg); }
    .circle-container > *:nth-of-type(2) {
      -webkit-transform: rotate(70deg) translate(400px) rotate(-70deg);
      -moz-transform: rotate(70deg) translate(400px) rotate(-70deg);
      -ms-transform: rotate(70deg) translate(400px) rotate(-70deg);
      -o-transform: rotate(70deg) translate(400px) rotate(-70deg);
      transform: rotate(70deg) translate(400px) rotate(-70deg); }
    .circle-container > *:nth-of-type(3) {
      -webkit-transform: rotate(110deg) translate(400px) rotate(-110deg);
      -moz-transform: rotate(110deg) translate(400px) rotate(-110deg);
      -ms-transform: rotate(110deg) translate(400px) rotate(-110deg);
      -o-transform: rotate(110deg) translate(400px) rotate(-110deg);
      transform: rotate(110deg) translate(400px) rotate(-110deg); }
    .circle-container > *:nth-of-type(4) {
      -webkit-transform: rotate(150deg) translate(400px) rotate(-150deg);
      -moz-transform: rotate(150deg) translate(400px) rotate(-150deg);
      -ms-transform: rotate(150deg) translate(400px) rotate(-150deg);
      -o-transform: rotate(150deg) translate(400px) rotate(-150deg);
      transform: rotate(150deg) translate(400px) rotate(-150deg); }
    .circle-container > *:nth-of-type(5) {
      -webkit-transform: rotate(190deg) translate(400px) rotate(-190deg);
      -moz-transform: rotate(190deg) translate(400px) rotate(-190deg);
      -ms-transform: rotate(190deg) translate(400px) rotate(-190deg);
      -o-transform: rotate(190deg) translate(400px) rotate(-190deg);
      transform: rotate(190deg) translate(400px) rotate(-190deg); }
    .circle-container > *:nth-of-type(6) {
      -webkit-transform: rotate(230deg) translate(400px) rotate(-230deg);
      -moz-transform: rotate(230deg) translate(400px) rotate(-230deg);
      -ms-transform: rotate(230deg) translate(400px) rotate(-230deg);
      -o-transform: rotate(230deg) translate(400px) rotate(-230deg);
      transform: rotate(230deg) translate(400px) rotate(-230deg); }
    .circle-container > *:nth-of-type(7) {
      -webkit-transform: rotate(270deg) translate(400px) rotate(-270deg);
      -moz-transform: rotate(270deg) translate(400px) rotate(-270deg);
      -ms-transform: rotate(270deg) translate(400px) rotate(-270deg);
      -o-transform: rotate(270deg) translate(400px) rotate(-270deg);
      transform: rotate(270deg) translate(400px) rotate(-270deg); }
    .circle-container > *:nth-of-type(8) {
      -webkit-transform: rotate(310deg) translate(400px) rotate(-310deg);
      -moz-transform: rotate(310deg) translate(400px) rotate(-310deg);
      -ms-transform: rotate(310deg) translate(400px) rotate(-310deg);
      -o-transform: rotate(310deg) translate(400px) rotate(-310deg);
      transform: rotate(310deg) translate(400px) rotate(-310deg); }
    .circle-container > *:nth-of-type(9) {
      -webkit-transform: rotate(350deg) translate(400px) rotate(-350deg);
      -moz-transform: rotate(350deg) translate(400px) rotate(-350deg);
      -ms-transform: rotate(350deg) translate(400px) rotate(-350deg);
      -o-transform: rotate(350deg) translate(400px) rotate(-350deg);
      transform: rotate(350deg) translate(400px) rotate(-350deg); }
  .circle-container a {
    position: absolute;
    display: block;
    border-radius: 50%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
    text-align: center;
    vertical-align: middle; }
  .circle-container a {
    background: rgba(0, 63, 86, 0.4);
    text-align: center;
    overflow: hidden;
    display: table;
    height: 100px;
    width: 100px; }
    .circle-container a:hover {
      background: #003f56;
      color: #fff; }
  .circle-container span {
    display: table-cell;
    vertical-align: middle;
    text-align: center; }
  .circle-container i {
    display: block;
    margin: 0 auto .2em; }

.circle-container-2 {
  position: relative;
  /* [1] */
  width: 300px;
  height: 300px;
  padding: 0;
  border-radius: 50%;
  list-style: none;
  /* [2] */
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  /* [3] */
  background: #000e14;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  /* container-size / 2 */
  margin-top: -150px;
  /* container-size / 2 */ }
  .circle-container-2 > * {
    /* [4] */
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    margin: -100px; }
    .circle-container-2 > *:nth-of-type(1) {
      -webkit-transform: rotate(30deg) translate(150px) rotate(-30deg);
      -moz-transform: rotate(30deg) translate(150px) rotate(-30deg);
      -ms-transform: rotate(30deg) translate(150px) rotate(-30deg);
      -o-transform: rotate(30deg) translate(150px) rotate(-30deg);
      transform: rotate(30deg) translate(150px) rotate(-30deg); }
    .circle-container-2 > *:nth-of-type(2) {
      -webkit-transform: rotate(150deg) translate(150px) rotate(-150deg);
      -moz-transform: rotate(150deg) translate(150px) rotate(-150deg);
      -ms-transform: rotate(150deg) translate(150px) rotate(-150deg);
      -o-transform: rotate(150deg) translate(150px) rotate(-150deg);
      transform: rotate(150deg) translate(150px) rotate(-150deg); }
    .circle-container-2 > *:nth-of-type(3) {
      -webkit-transform: rotate(270deg) translate(150px) rotate(-270deg);
      -moz-transform: rotate(270deg) translate(150px) rotate(-270deg);
      -ms-transform: rotate(270deg) translate(150px) rotate(-270deg);
      -o-transform: rotate(270deg) translate(150px) rotate(-270deg);
      transform: rotate(270deg) translate(150px) rotate(-270deg); }
  .circle-container-2 a {
    position: absolute;
    display: block;
    border-radius: 50%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
    text-align: center;
    vertical-align: middle; }
  .circle-container-2 a {
    background: #fff;
    color: #000;
    text-align: center;
    overflow: hidden;
    padding-top: 50px; }
    .circle-container-2 a:hover {
      color: #00aeef; }
  .circle-container-2 span {
    font-size: 1.4em;
    font-weight: bold;
    display: block; }
  .circle-container-2 em {
    font-style: normal;
    display: block;
    padding: .5em 2em; }

/* Responsive Page Layout */
